{% extends 'project/base.html' %}

{% block title %}Pokémon List{% endblock %}

{% block content %}
<h1>Pokémon List</h1>

<div class="generation-links">
    <a href="?generation=all">All</a>
    <a href="?generation=1">Generation I</a>
    <a href="?generation=2">Generation II</a>
    <a href="?generation=3">Generation III</a>
    <a href="?generation=4">Generation IV</a>
    <a href="?generation=5">Generation V</a>
    <a href="?generation=6">Generation VI</a>
    <a href="?generation=7">Generation VII</a>
    <a href="?generation=8">Generation VIII</a>
    <a href="?generation=9">Generation IX</a>
</div>

<div class="pokemon-list">
    {% for pokemon in pokemon_list %}
    <div class="pokemon-button">
        <a href="{% url 'pokemon_detail' pokemon.dexnum %}">
            <img src="{{ pokemon.sprite }}" alt="{{ pokemon.name }}">
            <span>{{ pokemon.name }}</span>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}