{% extends 'project/base.html' %}

{% block title %}Add Pokémon{% endblock %}

{% block content %}
<h1>Add Pokémon</h1>

<form method="get" action="">
    <div class="form-group">
        <label for="name">Filter by Name:</label>
        <input type="text" id="name" name="name" value="{{ name }}">
        <button type="submit" class="submit-button">Search</button>
    </div>
</form>

<div class="pokemon-list">
    {% for pokemon in pokemons %}
    <div class="pokemon-button">
        <a href="{% url 'add_team_pokemon' pk=view.kwargs.pk dexnum=pokemon.dexnum %}">
            <img src="{{ pokemon.sprite }}" alt="{{ pokemon.name }}">
            <span>{{ pokemon.name }}</span>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}