{% load static %}
<html>
<head>
    <title>Mini FB</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <div class="header-container">
            <h1 class="logo">MINI FB</h1>
            <nav>
                <a href="{% url 'show_all_profiles' %}" class="nav-button">All Profiles</a>
                <a href="{% url 'create_profile' %}" class="nav-button">Create Profile</a>
            </nav>
        </div>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Mini FB</p>
    </footer>
</body>
</html>