h1 {
    text-align: center;
    font-size: 36px;
    color: #333;
}

h2 {
    text-align: center;
    color: rgb(4, 44, 3);
}

hr {
    border-color: darkolivegreen;
}

table {
    width: 100%;
    margin-top: 20px;
    border-spacing: 20px;
    border: 2px solid black;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: darkgray;
}

div {
    margin: 5px;
    padding: 10px;
    background-color: gray;
    
}

img {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: auto;
    border-radius: 10px;
}


.thumbnail {
    width: 400px;
    height: auto;
    border-radius: 10px;
}
.showall {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

ul, li {
    padding: 10px;
    list-style-type: none;
    /* border-bottom: 1px solid black; */
}


.grid-container {
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;

    column-gap: 3px;
    margin: 20px auto;
}

header { 

    grid-column: span 6;
    text-align: center;
    border-bottom: 1px solid rgb(4, 44, 3);
}

nav {
    padding: 30px;
    border-right: 1px solid rgb(4, 44, 3);
    /* vertical-align: top; */
    align-items: top;
}

nav li {
    text-decoration: underline;
}

main {
    padding: 30px;
}

main h2 {
    font-size: 2.5em;
    max-width: 800px;
}

main img {
    width: 100%;
    border-radius: 8px;
}

main p {

    margin-top: 30px;
    line-height: 2em;
    color: rgb(4, 44, 3);
}

aside {
    padding: 30px;
    border-left: 1px solid rgb(4, 44, 3);
}

footer { 
    grid-column: span 6;
    text-align: center;
    border-top: 1px solid rgb(4, 44, 3);
}

.thumbnail-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
}
